DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_OAUTH_CLIENT_ID=
DISCORD_OAUTH_CLIENT_SECRET=
DATABASE_URL="mysql://discord:discord@localhost:5306/discord"
DASHBOARD_PORT=2000
DASHBOARD_BASE_PATH=/bot
DASHBOARD_PUBLIC_URL=https://mychamps.gg/bot
DASHBOARD_SESSION_SECRET=
DASHBOARD_VIRTUAL_HOST=mychamps.gg
DASHBOARD_VIRTUAL_PATH=/bot
DISCORD_BOT_PERMISSIONS=268520528
